<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">
        <img src="/assets/img/dachser_logo.svg" alt="Dachser"/>
    </div>

    <ul class="list-unstyled components">
        <p class="text-center">
            {{ app.user.prenom }} {{ app.user.nom }}
            <br/>
            {{ app.user.roleType }}
        </p>
        <li class="{% if current_url is defined and current_url == 'home' %}active{% endif %}">
            <a href="{{ path('admin') }}">Home</a>
        </li>
        <li class="{% if current_url is defined and current_url == 'remorque' %}active{% endif %}">
            <a href="#remorqueSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Remorques</a>
            <ul class="collapse list-unstyled" id="remorqueSubmenu">
                <li>
                    <a href="{{ path('admin.remorque.index') }}">Liste des remorques</a>
                </li>
                <li>
                    <a href="{{ path('admin.remorque.type.index') }}">Type de remorque</a>
                </li>
            </ul>
        </li>
        <li class="{% if current_url is defined and current_url == 'quai' %}active{% endif %}">
            <a href="{{ path('admin.quai.index') }}">Quais</a>
        </li>
        <li class="{% if current_url is defined and current_url == 'parking' %}active{% endif %}">
            <a href="{{ path('admin.parking.index') }}">Parkings</a>
        </li>
        <li class="{% if current_url is defined and current_url == 'planning' %}active{% endif %}">
            <a href="">Planning</a>
        </li>
        <li class="{% if current_url is defined and current_url == 'traction' %}active{% endif %}">
            <a href="">Tractions</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li class="{% if current_url is defined and current_url == 'user' %}active{% endif %}">
            <a href="{{ path('admin.utilisateur.index') }}">Utilisateurs</a>
        </li>
        {% endif %}
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="{{ path('/') }}" class="download">Retour à l'index</a>
        </li>
        <li>
            <a href="{{ path('logout') }}" class="article btn btn-danger">Déconnexion</a>
        </li>
    </ul>
</nav>
