<div class="modal-header">
    <h5 class="modal-title" id="exampleModalTitle">
        {% if operation.quai %}
        Quai numéro : <strong>{{ operation.quai.numero }}</strong><br/>
        {% else %}
        
        {% endif %}
        Remorque : <strong>{{ operation.remorque.Remorque }}</strong><br/>
        Immatriculation : <strong>{{ operation.remorque.immatriculation }}</strong>
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    {{ form_start(form) }}
    <div class="mb-2">Veuillez choisir un parking :</div>
    <div class="row">
            <div class="col-md-9">
                {{ form_widget(form.parking) }}
                {{ form_errors(form.parking) }}
            </div>
            <div class="col-md-3">
                {{ form_rest(form) }}
                <div class="text-center btn-container">
                    <button class="btn btn-primary">{{ button|default('Ajouter')}}</button>
                </div>
            </div>

    </div>
    {{ form_end(form) }}

</div>
