{% extends 'frontend/layout.html.twig' %}

{% block title %} Listing des parking {{ parent() }}{% endblock %}

{% block body %}
<h1 class="text-center mb-4">Listing des parking</h1>
<div class="clearfix">
    <a href="" class="float-right mb-3 btn btn-primary" title="Rafraichir la page"><i class="fa fa-refresh"></i></a>
</div>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
    </li>
    {% for parking in parkings %}
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu{{ parking.id }}">{{ parking.denomination }}</a>
    </li>
    {% endfor %}
</ul>

<!-- Tab panes -->
<div class="tab-content content-section mb-4">
    <div id="home" class="container tab-pane active">
        <table class="table table-responsive" id="tableSearch">
            <thead>
                <tr>
                    <th>Remorque</th>
                    <th>Parking</th>
                    <th>Date mise en parking</th>
                </tr>
            </thead>
            <tbody>
                    {% for parking in parkings %}
                {% for operation in parking.operations %}
                <tr>
                    <td>
                        {{ operation.remorque.remorque }}
                    </td>
                    <td>{{ parking.denomination }}</td>
                    <td>{{ operation.dateCreation | localizeddate('none', 'none', 'fr', null, 'd MMMM Y à H:m') }}</td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% for parking in parkings %}
    <div id="menu{{ parking.id }}" class="container tab-pane fade">
        <table class="table table-responsive tableSearch">
            <thead>
                <tr>
                    <th>Remorque</th>
                    <th>Date mise en parking</th>
                </tr>
            </thead>
            <tbody>
                {% for operation in parking.operations %}
                <tr>
                    <td>
                        {{ operation.remorque.remorque }}
                    </td>
                    <td>{{ operation.dateCreation | localizeddate('none', 'none', 'fr', null, 'd MMMM Y à H:m') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}
