<div class="modal-header">
    <h5 class="modal-title" id="exampleModalTitle">
        Tournée numéro :
        <strong>
            {% if planning is defined %}
            {{ planning.tournee }}
            {% else %}
            {{ operation.planning.tournee }}
            {% endif %}
        </strong><br/>
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    {{ form_start(form) }}
    <div class="mb-2">Veuillez choisir une remorque :</div>
    <div class="row">
            <div class="col-md-9">
                {{ form_widget(form.remorque) }}
                {{ form_errors(form.remorque) }}
            </div>
            <div class="col-md-3">
                {{ form_rest(form) }}
                <div class="text-center btn-container">
                    <button class="btn btn-primary">{{ button|default('Ajouter')}}</button>
                </div>
            </div>

    </div>
    {{ form_end(form) }}
</div>
