{% extends 'frontend/layout.html.twig' %}

{% block title %} Listing des tournées {{ parent() }}{% endblock %}

{% block body %}
<h1 class="text-center mb-4">Listing des tournées</h1>
<div class="clearfix">
    <a href="" class="float-right mb-3 btn btn-primary" title="Rafraichir la page"><i class="fa fa-refresh"></i></a>
</div>
<div class="content-section mb-4">
    <table class="table table-responsive" id="tableSearch">
        <thead>
            <tr>
                <th>Tournée</th>
                <th>Chauffeur</th>
                <th>Tracteur</th>
                <th>Affectation</th>
                <th>Remorque</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for planning in plannings %}
            <tr>
                <td>{{ planning.tournee }}</td>
                <td>{{ planning.chauffeur }}</td>
                <td>{{ planning.tracteur }}</td>
                <td>
                    {% if planning.operation %}
                        {{ planning.operation.affectation }}
                    {% endif %}
                </td>
                <td>
                    {% if planning.operation %}
                        {{ planning.operation.remorque.remorque }}
                    {% endif %}
                </td>
                <td>
                    {% if planning.operation %}
                    {% elseif is_granted('ROLE_QUAI') %}
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modalPlanning" data-operation="add" data-id="{{ planning.id }}">Affectation</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{{ include('frontend/inc/modalParquer.html.twig') }}
<!-- Modal planning -->
<div class="modal fade" id="modalPlanning" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
    $('#modalPlanning').on('shown.bs.modal', function (event) {
        const button = $(event.relatedTarget);
        const ope = button.attr('data-operation');
        const id = button.attr('data-id');
        if(ope == 'add') {
            var url = "{{ (path('planning.new', {id: 'ReplaceMeWithCorrectValue'})) }}";
        }
        else {
            var url = "{{ (path('planning.editer', {id: 'ReplaceMeWithCorrectValue'})) }}";
        }
        url = url.replace("ReplaceMeWithCorrectValue", id);
        var modal = $(this);
        $.ajax({
            url: url,
            success: function(data) {
                modal.find('.modal-content').html(data);
            }
        });
    });
    </script>
{% endblock %}
