{% extends 'frontend/layout.html.twig' %}

{% block title %} Listing des remorques {{ parent() }}{% endblock %}

{% block body %}
<h1 class="text-center mb-4">Listing des remorques</h1>
<div class="content-section mb-4">
    <table class="table" id="tableSearch">
        <thead>
            <tr>
                <th>#</th>
                <th>Remorque</th>
                <th>Immatriculation</th>
                <th>Type</th>
                <th>Affectation</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for remorque in remorques %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ remorque.remorque }}</td>
                <td>{{ remorque.immatriculation }}</td>
                <td>{{ remorque.type.denomination }}</td>
                <td>
                    {% if remorque.operation %}
                        {{ remorque.operation.operationType }}<br/>
                        {% if remorque.operation.quai %}
                            Quai numéro : <strong>{{ remorque.operation.quai.numero }}</strong><br/>
                        {% elseif remorque.operation.parking %}
                            Parking : <strong>{{ remorque.operation.parking.denomination}}</strong><br/>
                        {% elseif remorque.operation.traction %}
                            Affectation : <strong>{{ remorque.operation.traction.affectation}}</strong><br/>
                        {% endif %}
                        Le {{ remorque.operation.dateCreation | localizeddate('none', 'none', 'fr', null, 'd MMMM Y à H:m') }}
                    {% else %}
                        Aucune opération
                    {% endif %}
                </td>
                <td>
                    {% if is_granted('ROLE_EMPLOYE') %}
                    <a class="btn btn-primary" href="{{ path('admin.remorque.editer', {id: remorque.id}) }}">Profil</a>
                    {% endif %}
                    {% if remorque.operation != null and remorque.operation.operation == 3 and is_granted('ROLE_PARKING') %}
                    <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="addParking({{ remorque.operation.id }})">Parquer</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
