{% extends 'frontend/layout.html.twig' %}

{% block title %} Listing des remorques {{ parent() }}{% endblock %}

{% block body %}
<h1 class="text-center mb-4">Listing des remorques</h1>
<div class="clearfix">
    <a href="" class="float-right mb-3 btn btn-primary" title="Rafraichir la page"><i class="fa fa-refresh"></i></a>
</div>
<div class="content-section mb-4">
    <table class="table table-responsive" id="tableSearch">
        <thead>
            <tr>
                <th>Remorque</th>
                <th>Immatriculation</th>
                <th>Type</th>
                <th>Affectation</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for remorque in remorques %}
            <tr class="{% if remorque.maintenance %}etat2{% elseif remorque.vide and remorque.operation.quai is defined and remorque.operation.quai != null and remorque.operation.traction is null and remorque.operation.planning is null  %}etat4{% elseif remorque.vide %}etat0{% else %}etat3{% endif %}">
                <td>{{ remorque.remorque }}</td>
                <td>{{ remorque.immatriculation }}</td>
                <td>{{ remorque.type.denomination }}</td>
                <td>
                    {% if remorque.operation %}

                        {% if remorque.operation.parking %}
                            Parking : <strong>{{ remorque.operation.parking.denomination}}</strong><br/>
                        {% elseif remorque.operation.traction %}
                            <strong>Traction</strong><br/>
                            Affectation : <strong>{{ remorque.operation.traction.affectation}}</strong><br/>
                            Quai numéro : <strong>{{ remorque.operation.traction.quai.numero }}</strong><br/>
                            Le {{ remorque.operation.dateCreation | localizeddate('none', 'none', 'fr', null, 'd MMMM Y à H:m') }}
                        {% elseif remorque.operation.planning %}
                            <strong>Planning</strong><br/>
                            Affectation : <strong>{{ remorque.operation.affectation}}</strong><br/>
                            Tournée : <strong>{{ remorque.operation.planning.tournee }}</strong><br/>
                        {% elseif remorque.operation.quai %}
                            Sur le quai : <strong>{{ remorque.operation.quai.numero}}</strong><br/>
                        {% elseif remorque.operation.operation == 5 %}
                            Affectation : <strong>{{ remorque.operation.affectation}}</strong><br/>
                        {% endif %}
                    {% elseif remorque.maintenance %}
                        Bloquée : <strong>{{ remorque.maintenanceRaison}}</strong><br/>
                    {% elseif remorque.vide %}
                        Vide
                    {% else %}
                        Chargée
                    {% endif %}
                </td>
                <td>
                    {% if is_granted('ROLE_EMPLOYE') %}
                        {% if remorque.maintenance %}
                        <a class="btn btn-primary" href="{{ path('remorques.debloquer', {id: remorque.id})}}">Débloquer</a>
                        {% else %}
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modalBloquer" data-id="{{ remorque.id }}" >Bloquer</button>
                        {% endif %}
                    {% endif %}
                    {% if is_granted('ROLE_PARKING')  %}
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modalEtat" data-id="{{ remorque.id }}" >Etat</button>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modalEmplacement" data-id="{{ remorque.id }}" >Emplacement</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- Modal bloquer -->
<div class="modal fade" id="modalBloquer" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
<!-- Modal etat -->
<div class="modal fade" id="modalEtat" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
<!-- Modal emplacement -->
<div class="modal fade" id="modalEmplacement" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
    $('#modalBloquer').on('shown.bs.modal', function (event) {
        const button = $(event.relatedTarget);
        const id = button.attr('data-id');
        var url = "{{ (path('remorques.bloquer', {id: 'ReplaceMeWithCorrectValue'})) }}";
        url = url.replace("ReplaceMeWithCorrectValue", id);
        var modal = $(this);
        $.ajax({
            url: url,
            success: function(data) {
                modal.find('.modal-content').html(data);
            }
        });
    });

    $('#modalEtat').on('shown.bs.modal', function (event) {
        const button = $(event.relatedTarget);
        const id = button.attr('data-id');
        var url = "{{ (path('remorques.etat', {id: 'ReplaceMeWithCorrectValue'})) }}";
        url = url.replace("ReplaceMeWithCorrectValue", id);
        var modal = $(this);
        $.ajax({
            url: url,
            success: function(data) {
                modal.find('.modal-content').html(data);
            }
        });
    });

    $('#modalEmplacement').on('shown.bs.modal', function (event) {
        const button = $(event.relatedTarget);
        const id = button.attr('data-id');
        var url = "{{ (path('remorques.emplacement', {id: 'ReplaceMeWithCorrectValue'})) }}";
        url = url.replace("ReplaceMeWithCorrectValue", id);
        var modal = $(this);
        $.ajax({
            url: url,
            success: function(data) {
                modal.find('.modal-content').html(data);
            }
        });
    });
    </script>
{% endblock %}
