{% extends 'frontend/layout.html.twig' %}

{% block title %} Listing des quais {{ parent() }}{% endblock %}

{% block body %}
<h1 class="text-center mb-4">Listing des Quais</h1>

<div class="content-section mb-4">
    <a href="" class="float-right m-3 btn btn-primary" title="Rafraichir la page"><i class="fa fa-refresh"></i></a>
    <div id="legende">
        <div class="ligne">
            <div> Légende : </div>
            <div class="couleur etat0"> Libre </div>
            <div class="couleur etat1"> En maintenance </div>
            <div class="couleur etat2"> Occupé </div>
            <div class="couleur etat3"> Remorque à deplacer </div>
        </div>
    </div>
    <table class="table" id="tableSearch">
        <thead>
            <tr>
                <th>Quai</th>
                <th>Operation</th>
                <th>Remorque</th>
                <th>Date de mise à quai</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for quai in quais %}
            <tr class="{% if quai.operation %}etat{{ quai.operation.operation }}{% elseif quai.maintenance %}etat1{% else %}etat0{% endif %}">
                <td>{{ quai.numero }}</td>
                <td>{% if quai.operation %}{{ quai.operation.operationType }}{% elseif quai.maintenance %}En maitenance{% else %}Libre{% endif %}</td>
                <td>
                    {% if quai.operation %}
                    <a href="#" data-title="Remorque" data-toggle="modal" data-target="#modalRemorque{{ quai.operation.remorque.id }}" >
                        {{ quai.operation.remorque.remorque }}
                    </a>
                    {{ include('frontend/inc/modalRemorque.html.twig', {id: quai.operation.remorque.id, remorque: quai.operation.remorque.remorque, immatriculation: quai.operation.remorque.immatriculation, type:quai.operation.remorque.type.denomination}) }}
                    {% endif %}
                </td>
                <td>
                    {% if quai.operation %}
                        {{ quai.operation.dateCreation | localizeddate('none', 'none', 'fr', null, 'd MMMM Y à H:m') }}
                    {% endif %}
                </td>
                <td>
                    {% if quai.operation %}
                        {% if quai.operation.operation == 2 and is_granted('ROLE_QUAI') %}
                            <a class="btn btn-primary" href="{{ path('app.quai.deplacer', {id: quai.operation.id}) }}">Terminer</a>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#modalQuai" data-operation="modif" data-id="{{ quai.operation.id }}">Modifier</button>
                        {% elseif quai.operation.operation == 3 and is_granted('ROLE_PARKING') %}
                            <button class="btn btn-primary" data-toggle="modal" data-target="#modalParquer" data-operation-id="{{ quai.operation.id }}">Parquer</button>
                        {% endif %}
                    {% elseif quai.maintenance == false and is_granted('ROLE_QUAI') %}
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modalQuai" data-operation="add" data-id="{{ quai.id }}">Ajouter</button>
                    {% endif %}
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
{{ include('frontend/inc/modalParquer.html.twig') }}
<!-- Modal -->
<div class="modal fade" id="modalQuai" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
    $('#modalQuai').on('shown.bs.modal', function (event) {
        const button = $(event.relatedTarget);
        const ope = button.attr('data-operation');
        const id = button.attr('data-id');
        if(ope == 'add') {
            var url = "{{ (path('quai.new', {id: 'ReplaceMeWithCorrectValue'})) }}";
        }
        else {
            var url = "{{ (path('quai.modifier', {id: 'ReplaceMeWithCorrectValue'})) }}";
        }
        url = url.replace("ReplaceMeWithCorrectValue", id);
        var modal = $(this);
        $.ajax({
            url: url,
            success: function(data) {
                modal.find('.modal-content').html(data);
            }
        });
    });
    </script>
{% endblock %}
