{% extends 'backend/layout.html.twig' %}

{% block title %} Listing des remorques {{ parent() }}{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="/assets/plugins/dataTable/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block titrePage %}Listing des remorques{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">Remorques</li>
{% endblock %}

{% block body %}

<div class="clearfix">
    <a href="" class="float-right mb-3 btn btn-primary" title="Rafraichir la page"><i class="fa fa-refresh"></i></a>
    <a href="{{ path('admin.remorque.new') }}" class="btn btn-primary mb-3">Ajouter</a>
</div>

<div class="content-section">
    <table class="table table-bordered table-responsive text-center" id="tableUsers">
        <thead>
            <tr>
                <th>#</th>
                <th>Remorque</th>
                <th>Immatriculation</th>
                <th>Type</th>
                <th>Operation</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for remorque in remorques %}
            <tr class="{% if remorque.maintenance %}etat1{% endif %}">
                <td>{{ loop.index }}</td>
                <td>{{ remorque.remorque }}</td>
                <td>{{ remorque.immatriculation }}</td>
                <td>{{ remorque.type.denomination }}</td>
                <td>
                    {% if remorque.operation %}
                        {{ remorque.operation.operationType }}<br/>
                        {% if remorque.operation.quai %}
                            Quai numéro : <strong>{{ remorque.operation.quai.numero }}</strong><br/>
                        {% elseif remorque.operation.parking %}
                            Parking : <strong>{{ remorque.operation.parking.denomination}}</strong><br/>
                        {% endif %}
                        Le {{ remorque.operation.dateCreation | localizeddate('none', 'none', 'fr', null, 'd MMMM Y à H:m') }}
                    {% elseif remorque.maintenance %}
                        En maintenance
                    {% else %}
                        Aucune opération
                    {% endif %}
                </td>
                <td><a class="btn btn-primary" href="{{ path('admin.remorque.editer', {id: remorque.id}) }}">Modification</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="/assets/plugins/dataTable/js/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/dataTable/js/dataTables.bootstrap4.min.js"></script>
<script>
$(document).ready(function() {
    $('#tableUsers').DataTable();
} );
</script>
{% endblock %}
