{% extends 'frontend/layout.html.twig' %}

{% block title %} Listing des tractions {{ parent() }}{% endblock %}

{% block body %}
<h1 class="text-center mb-4">Listing des tractions</h1>
<div class="content-section mb-4">
    <table class="table" id="tableSearch">
        <thead>
            <tr>
                <th>Affectation</th>
                <th>Porte</th>
                <th>Remorque</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for traction in tractions %}
            <tr>
                <td>{{ traction.affectation }}</td>
                <td>{{ traction.porte }}</td>
                <td>
                    {% if traction.operation and traction.operation.planning == null %}
                    <a href="#" data-title="Remorque" data-toggle="modal" data-target="#modalRemorque{{ traction.operation.remorque.id }}" >
                        {{ traction.operation.remorque.remorque }}
                    </a>
                    {{ include('frontend/inc/modalRemorque.html.twig', {id: traction.operation.remorque.id, remorque: traction.operation.remorque.remorque, immatriculation: traction.operation.remorque.immatriculation, type:traction.operation.remorque.type.denomination}) }}
                    {% endif %}
                </td>
                <td>
                    {% if traction.operation %}
                        {% if traction.operation.operation == 2 and is_granted('ROLE_EMPLOYE') %}
                            <button class="btn btn-primary" data-toggle="modal" data-target="#modalTraction" data-operation="add" data-id="{{ traction.id }}">Affectation</button>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#modalTraction" data-operation="modif" data-id="{{ traction.operation.id }}">Modifier</button>
                        {% endif %}
                        {% if traction.operation.quai == null and is_granted('ROLE_PARKING') %}
                            <a class="btn btn-primary" href="{{ path('remorques.aquai', {id: traction.operation.id}) }}">A quai</a>
                        {% endif %}
                    {% elseif is_granted('ROLE_EMPLOYE') %}
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modalTraction" data-operation="add" data-id="{{ traction.id }}">Affectation</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{{ include('frontend/inc/modalParquer.html.twig') }}
<!-- Modal traction -->
<div class="modal fade" id="modalTraction" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
    $('#modalTraction').on('shown.bs.modal', function (event) {
        const button = $(event.relatedTarget);
        const ope = button.attr('data-operation');
        const id = button.attr('data-id');
        if(ope == 'add') {
            var url = "{{ (path('traction.new', {id: 'ReplaceMeWithCorrectValue'})) }}";
        }
        else {
            var url = "{{ (path('traction.editer', {id: 'ReplaceMeWithCorrectValue'})) }}";
        }
        url = url.replace("ReplaceMeWithCorrectValue", id);
        var modal = $(this);
        $.ajax({
            url: url,
            success: function(data) {
                modal.find('.modal-content').html(data);
            }
        });
    });
    </script>
{% endblock %}
