{{ form_start(form) }}
    <div class="row">
        <div class="col-md-3 mb-3">
            <label for="miniature">Numéro de la tournée : </label>
            {{ form_widget(form.tournee, { 'attr': {'placeholder': 'Entrer le numéro de tournée'} }) }}
            {{ form_errors(form.tournee) }}
        </div>
        <div class="col-md-5 mb-3">
            <label for="miniature">Chauffeur : </label>
            {{ form_widget(form.chauffeur, { 'attr': {'placeholder': 'Entrer le chauffeur'} }) }}
            {{ form_errors(form.chauffeur) }}
        </div>
        <div class="col-md-4 mb-3">
            <label for="miniature">Tracteur : </label>
            {{ form_widget(form.tracteur, { 'attr': {'placeholder': 'Entrer le tracteur'} }) }}
            {{ form_errors(form.tracteur) }}
        </div>
    </div>
    {{ form_rest(form) }}
    <div class="text-center btn-container">
        <button class="btn btn-primary"><i class="fa fa-edit fa-lg" aria-hidden="true"></i>{{ button|default('Créer')}}</button>
    </div>

{{ form_end(form) }}
