{% extends 'frontend/layout.html.twig' %}

{% block title %} Listing des arrivages {{ parent() }}{% endblock %}

{% block body %}
<h1 class="text-center mb-4">Listing des arrivages</h1>
<div class="clearfix">
    <a href="" class="float-right mb-3 btn btn-primary" title="Rafraichir la page"><i class="fa fa-refresh"></i></a>
    <button class="btn btn-primary mb-3" data-toggle="modal" data-target="#modalArrivage" >Arrivage</button>
</div>
<div class="content-section mb-4">
    <table class="table" id="tableSearch">
        <thead>
            <tr>
                <th>Remorque</th>
                <th>Immatriculation</th>
                <th>Quai</th>
                <th>Etat</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for arrivage in arrivages %}
            <tr>
                <td>{{ arrivage.remorque }}</td>
                <td>{{ arrivage.immatriculation }}</td>
                <td>{{ arrivage.operation.quai.numero }}</td>
                <td>
                    {% if arrivage.vide %}
                        Vide
                    {% else %}
                        Chargée
                    {% endif %}
                </td>
                <td>
                    {% if is_granted('ROLE_QUAI')  %}
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modalEtat" data-id="{{ arrivage.id }}" >Etat</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- Modal arrivage-->
<div class="modal fade" id="modalArrivage" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalTitle">
                    Ajouter un nouvel arrivage
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-2">Remorque :</div>
                        {{ form_widget(form.remorque) }}
                        {{ form_errors(form.remorque) }}
                    </div>
                    <div class="col-md-6">
                        <div class="mb-2">Quai :</div>
                        {{ form_widget(form.quai) }}
                        {{ form_errors(form.quai) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-3">
                        {{ form_rest(form) }}
                        <div class="text-right btn-container">
                            <button class="btn btn-primary">{{ button|default('Ajouter')}}</button>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
</div>
<!-- Modal etat -->
<div class="modal fade" id="modalEtat" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
    $('#modalEtat').on('shown.bs.modal', function (event) {
        const button = $(event.relatedTarget);
        const id = button.attr('data-id');
        var url = "{{ (path('arrivages.etat', {id: 'ReplaceMeWithCorrectValue'})) }}";
        url = url.replace("ReplaceMeWithCorrectValue", id);
        var modal = $(this);
        $.ajax({
            url: url,
            success: function(data) {
                modal.find('.modal-content').html(data);
            }
        });
    });
    </script>
{% endblock %}
